body, html {
  overflow-x: hidden;
}


.video-card {
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.video-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.video-title {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  font-weight: 600;
  line-height: 1.2;
}

.featured-title,
.featured-description {
    font-family:monospace;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Footer Styles */
.footer {
  background: #c08181; /* Softer tone */
  color: #fff;
  padding: 15px 0; /* Reduce excessive height */
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}

/* Contact Info */
.footer .contact-info {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Icons */
.footer .contact-info i {
  margin-right: 5px;
  color: white;
}

/* Ensuring Footer Stays at the Bottom */
html, body {
  height: 100%;
}

.main-content {
  flex: 1;
}

footer {
  margin-top: auto;
}

